
  
  body {
    
    background: linear-gradient(#c2d6fd,  #cbd8f0 50%,#c2d6fd);
  

    font-family: 'Noto Naskh Arabic', serif;
  }
#page-header,h3,h2{
  text-align: center;

}
.table,td,th
{

  text-align: center;
}
